.row {
    display: flex;
    flex-wrap: wrap;
  }
  
@media only screen and (min-width: 992px) {
    .row {
      flex-wrap: nowrap
    }
    .col-1 {flex: 8.33%;}
    .col-2 {flex: 16.66%;}
    .col-3 {flex: 25%;}
    .col-4 {flex: 33.33%;}
    .col-5 {flex: 41.66%;}
    .col-6 {flex: 50%;}
    .col-7 {flex: 58.33%;}
    .col-8 {flex: 66.66%;}
    .col-9 {flex: 75%;}
    .col-10 {flex: 83.33%;}
    .col-11 {flex: 91.66%;}
    .col-12 {flex: 100%;}
}

.p-auto {
    padding: 12px 24px;
}