.menu {
    padding: 64px 0px;
    position: center;
    &__img {
        max-width: 100%;
        height: auto;
        opacity: 0.75;
        margin-left: 32px;
    }
    &__body {
        margin-left: 32px;
        font-size: 18px;
        line-height: 1.5;
    }
    &__title {
        text-align: center;
        letter-spacing: 5px;
        font-weight: 400;
    }
    &__title h1 {
        @extend .menu__title;
        font-size: 36px;
    }
}