.body {
  font-family: "Playfair Display", serif;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 992px) {
  .row {
    flex-wrap: nowrap;
  }

  .col-1 {
    flex: 8.33%;
  }

  .col-2 {
    flex: 16.66%;
  }

  .col-3 {
    flex: 25%;
  }

  .col-4 {
    flex: 33.33%;
  }

  .col-5 {
    flex: 41.66%;
  }

  .col-6 {
    flex: 50%;
  }

  .col-7 {
    flex: 58.33%;
  }

  .col-8 {
    flex: 66.66%;
  }

  .col-9 {
    flex: 75%;
  }

  .col-10 {
    flex: 83.33%;
  }

  .col-11 {
    flex: 91.66%;
  }

  .col-12 {
    flex: 100%;
  }
  .hidden-nav-right {
    display: none;
  }

  .show-nav-right {
    display: block;
  }

}
.nav {
  background-color: white;
}

.nav-right {
  letter-spacing: 4px;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 17px;
  float: right;
  padding: 8px 16px;
  margin-top: 15px;
  line-height: 1.5;
}

.border {
  border: 1px solid blue;
}

.nav-left {
  letter-spacing: 4px;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 17px;
  padding: 8px 16px;
  margin-top: 15px;
  float: left;
  width: auto;
  display: block;
  outline: 0;
}

.p-auto {
  padding: 12px 24px;
}

.banner {
  width: 100%;
}
.banner img {
  height: 800px;
}
.banner__label {
  position: absolute;
  bottom: 0;
}
.banner__label h1 {
  margin: 16px 0px;
}

.about {
  padding: 64px 0px;
  position: center;
}
.about__img {
  max-width: 100%;
  height: auto;
  opacity: 0.75;
}
.about__body {
  margin-left: 32px;
  font-size: 18px;
  line-height: 1.5;
}
.about__title, .about__title h5, .about__title h1 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
}
.about__title h1 {
  font-size: 36px;
}
.about__title h5 {
  font-size: 18px;
  padding-top: 20px;
}

.menu {
  padding: 64px 0px;
  position: center;
}
.menu__img {
  max-width: 100%;
  height: auto;
  opacity: 0.75;
  margin-left: 32px;
}
.menu__body {
  margin-left: 32px;
  font-size: 18px;
  line-height: 1.5;
}
.menu__title, .menu__title h1 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
}
.menu__title h1 {
  font-size: 36px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

/*# sourceMappingURL=style.css.map */
